<br>
<div class="jumbotron">
<h1>Welcome to Open Todo API</h1>
<p>This is the homepage for Open Todo API</p>
</div>

<div class="row">
  <div class="col-md-4">
    <h2>Open Todo API</h2>
    <p> An API for a to-do list application, so that you can authenticate and manage your information externally.</p>
  </div>
</div>